<div class="container">
  <form>
    <div class="form-group">
      <label>Title</label>
      {{input value=model.book.title class="form-control title"}}
    </div>
    <div class="form-group">
      <label>ISBN</label>
      {{input value=model.book.isbn class="form-control isbn"}}
    </div>
    <div class="form-group">
      <label>Cover</label>
      {{input value=model.book.cover class="form-control cover"}}
    </div>
    <div class="form-group">
      <label>Publisher</label>
      {{#power-select
          searchEnabled=false
          selected=model.book.publisher
          options=model.publishers
          onchange=(action (mut model.book.publisher))
          as |publisher|
      }}
        {{publisher.name}}
      {{/power-select}}
    </div>
    <button type="submit" class="btn btn-primary" {{action 'save' model.book}}>Submit</button>
  </form>
</div>
